<!DOCTYPE html>
<html>
  <head>
    <title>spool</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>spool</h1>
    <p>Welcome to spool</p>

  </body>
</html>
