<%- include('../partials/headers') %>

       <div>
        <h1> Welcome to Spool, The social network for DEVS!</h1>
        <div id="wrapper">

                <div id="div1">
                
                <img src="images/Spool.png">
                </div>
                
                <div id="div3">
                <h1>Create an account</h1>
               
                <li><input type="text" placeholder="First Name" id="firstname"><input type="text" placeholder="Surname" id="surname"></li>
                <li><input type="text" placeholder="Mobile number or email address"></li>
                <li><input type="text" placeholder="Re-enter mobile number or email address"></li>
                <li><input type="password" placeholder="New password"></li>
              
                
                <li id="terms">By clicking Create an account, you agree to our <a href="">Terms</a> and that <br>you have read our <a href="">Data Policy</a>, including our <a href="">Cookie Use</a>.</li>
                <li><input type="submit" value="Create an account"></li> Or login with Google  <a href="/auth/google"><i class="material-icons left">vpn_key</i>Login with Google</a>
              
                </div>
                
                </div>
                
        
<%- include('../partials/footers') %>
